@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

.logo
{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.logoTitle
{
font-family: "Inter", sans-serif;
font-size: 16px;
font-weight: 700;
line-height: 36px;
letter-spacing: 0.2em;
margin-top: 15px;
}
.navLinkAra{
    margin-right: 220px;
}
.navLink
{ position: relative;
font-family: "Inter", sans-serif;
font-size: 15px; 
font-weight: 700; 
line-height: 36px; 
letter-spacing: 0.2em;
color: #110229; 
text-transform: uppercase;
text-decoration: none;
}

.navLink::after
{ 
position: absolute; 
content: ''; 
top: 18px; 
left: 0px;
width: 0%;
height: 15%; 
background-color: #000; 
transition: ease-in .4s ;
}

.navLink:hover::after
{
    width: 96%;
}
.userName
{
    border: 2px solid #000;
    padding: 5px 10px;
    border-radius: 8px;
    color: #fff;
    background-color: #000;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 36px;
    text-decoration: none;
    cursor: pointer;
}
.login
{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    color: #000 !important;
    font-weight: bold !important;
}