.swiper-button-prev,.swiper-button-next
{
    background-color: black;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.swiper-button-prev:after, .swiper-button-next:after,.swiper-button-next:after, .swiper-button-next:after {
    font-size: 25px !important;
    color: white !important;
    font-weight: bold !important;
}

