.ss1 {
    background-image: url("../img/gaza.jpeg");
    background-size: cover; /* Adjust to your preference */
    background-position: center; /* Adjust to your preference */
    background-repeat: no-repeat; /* Adjust to your preference */
    /* Other styles */
  }