.recnt
{
font-family: "Urbanist", sans-serif;
font-size: 38px;
font-weight: 600;
text-align: left;
color: #110229;
}
.recntAra
{
text-align: right;
}

.img
{
    width: 100%;
    height: 20rem;
    object-fit: fill;   
}

.item
{
    background-color: white;
    width: 300px !important;
    height: 160px;
    border: 1px solid black;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    margin-left: 30px;
    position: relative;
}
.item img
{
    width: 108px;
    height: 110px;
    margin-top:20px;
    left: 156px;
    gap: 0px;
    border-radius: 10px;
}
.addres
{
    position: absolute;
    top: 10px;
    right:25px;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.name
{
    position: absolute;
    top: 50px;
    right:30px;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-transform: capitalize;
}
.phone
{
    position: absolute;
    top: 85px;
    right:15px;
    font-family: "Urbanist", sans-serif;
    font-size: 20px;
    font-weight: 400;
}
.price
{
    position: absolute;
    top: 120px;
    right:25px;
    font-family: "Urbanist", sans-serif;
    font-size: 15px;
    font-weight:bold !important;
    width: 75px;
    height: 25px;
    text-align: center;
    background-color: #8F90A6;
    color: white;
    font-weight: 500;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    
}