@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.container
{
    width: 900px;
    height: 470px;
    background-color: rgb(247,247,247);
    margin: auto !important;
}
.content
{
    margin-left: 50px;
    margin-bottom: 150px;
}
.icon
{
    font-size: 25px;
    color:  rgb(56,171,200);
    margin-right: 15px;
}
.text
{
    font-size: 18px;
    font-weight: 400;
    font-family: "Urbanist", sans-serif;
}
button
{
    padding: 7px 20px;
    background-color: rgb(25,158,184);
    color: white;
    font-weight: 500;
    font-family: "Urbanist", sans-serif;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    
}
button:hover
{
    background-color: black;
}
    .contact{
        color: rgb(32,165,192) ;
        font-family: "Urbanist", sans-serif;
        text-align: center;
        margin-top: 10px !important;
        font-size: 30px;
    }